body {
    padding: 5px;
    margin: 0px;
    display: block;
    background-color: #000000;
    overflow: auto;
}

/*Header Bar*/
.headerBar {
    position: relative;
    margin: 0px;
    padding: 10px;
    background-color: #252525;
    min-width: 550px;
    text-align: center;
    border-bottom: 2px solid #500000;
}

    .headerBar h1 {
        display: inline;
        font: 26px Verdana;
        font-weight: bold;
        margin: 0px;
        color: #00CC00;
    }

    .headerBar h6 {
        display: inline;
        position: absolute;
        right: 0px;
        bottom: 0px;
        font: 12px Verdana;
        margin: 0px;
        padding: 10px;
        color: #ffffff;
        text-align: right;
    }

/*Navigation Bar*/
.navBar {
    padding: 0px;
    float: left;
    background-color: #252525;
    min-width: 175px;
    max-width: 225px;
}

    .navBar ul {
        margin: 0px;
        padding: 0px;
    }

        .navBar ul li {
            display: block;
            padding: 10px;
            font: bold 20px Arial, Verdana;
            text-align: right;
            border-bottom: 2px solid black;
        }

            .navBar ul li.navItem {
                color: #ff0000;
            }

                .navBar ul li.navItem:hover {
                    color: #ffffff;
                    cursor: pointer;
                    background-color: #303030;
                }

                .navBar ul li.navItem.selected {
                    background-color: #303050;
                }

.titleDiv {
    border-bottom: 3px solid #000000;
    width: 100%;
    float: left;
    height: 40px;
    text-align: center;
    overflow: hidden;
}

.mainContent {
    padding: 5px;
    position: absolute;
    margin: 0px 0px 0px 150px;
    background-color: #1A1A16;
    min-width: 400px;
    border-left: 2px solid #500000;
    border-right: 2px solid #500000;
    border-bottom: 2px solid #500000;
    overflow: auto;
}

.homePanels {
    display: block;
    border: 2px solid;
    border-radius: 25px;
    background-color: #252525;
    height: 400px;
    width: 700px;
    float: left;
    overflow: auto;
    margin-left: 300px;
    margin-top: 20px;
}

.form {
    display: inline;
    margin: 10px;
}

    .form .formTitle {
        color: #00CC00;
        font-weight: bold;
        padding-bottom: 20px;
    }

    .form .textbox {
        border-radius: 2px;
    }

        .form .textbox:focus {
            outline: none;
            border-color: #9ecaed;
            box-shadow: 0 0 5px #9ecaed;
        }

    .form .combobox {
        border-radius: 2px;
    }

        .form .combobox:focus {
            outline: none;
            border-color: #9ecaed;
            box-shadow: 0 0 5px #9ecaed;
        }

    .form .label {
        color: #ffffff;
    }

.viewOptions {
    text-align: right;
}

.button {
    outline: none;
    margin: 5px;
    padding: 2px 5px;
    border-radius: 4px;
}

    .button:hover {
        background-color: #9ecaed;
        cursor: pointer;
    }

/* unvisited link */
a:link {
    color: #FF0000;
    text-decoration: none;
    font-weight: normal;
}

/* visited link */
a:visited {
    color: #00FF00;
    text-decoration: none;
    font-weight: normal;
}

/* mouse over link */
a:hover {
    color: white;
    text-decoration: none;
}

.homeProjectList li {
    list-style-type: none;
    padding-top: 40px;
}

.homeTable {
    height: 100%;
    overflow: hidden;
}

.hide {
    visibility: hidden;
}

.subDashboard {
    margin: 10px;
}

    .subDashboard .subTitle {
        margin: 10px 0px;
        color: #ffffff;
        font-size: 32px;
    }

/*Horizontal Option Bar*/
.hOptionsBar {
    display: inline;
    margin: 10px 0px;
    padding: 0px;
}

    .hOptionsBar .hOption {
        display: inline;
        font-size: 16px;
        margin: 5px;
        padding: 0px 10px;
        background-color: #303030;
        border: 1px solid #ffffff;
    }

/* PROJECTS */
.grid {
}

    .grid .gridItem {
        /*width: 200px;*/
        display: inline-block;
        margin: 10px;
        background-color: #9ecaed;
        border: 2px solid #ff0000;
        border-radius: 5px;
    }

        .grid .gridItem:hover {
            background-color: #daecfb;
            /*cursor: pointer;*/
        }

        .grid .gridItem .title {
            margin: 10px;
            font-size: 18px;
            font-style: italic;
            font-weight: bold;
        }

            .grid .gridItem .title:hover {
                text-decoration: underline;
                cursor: pointer;
            }

        .grid .gridItem .itemInfo {
            margin: 10px;
            border: 1px solid #000000;
        }

            .grid .gridItem .itemInfo .infoHeader {
                font-weight: bold;
            }
