.shadowScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.50);
}

.modal {
    position: fixed;
    width: auto;
    min-width: 150px;
    min-height: 150px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #000000;
    background-color: #646464;
}

    .modal .mTop {
        position: relative;
        display: block;
        margin: 0px -2px;
        padding: 0px 5px;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        border-left: 2px solid black;
        border-right: 2px solid black;
        border-radius: 10px;
        background-color: #c5fff6;
    }

        .modal .mTop .mTitle {
            font-weight: bold;
            font-size: 26px;
            margin: 0px;
            padding: 5px;
            color: #000000;
        }

        .modal .mTop .mBtnX {
            position: absolute;
            right: 10px;
            top: 5px;
            font-family: Calibri;
            font-size: 22px;
            font-weight: bold;
            border: none;
            background: none;
            padding: 0px;
        }

            .modal .mTop .mBtnX:hover {
                cursor: pointer;
                color: #808080;
            }

    .modal .mBody {
        margin: 0px 5px;
        padding: 5px;
        overflow-y: auto;
        border: 1px solid black;
        background-color: #1A1A16;
        color: #000000;
    }

    .modal .mBottom {
        padding: 10px 20px 10px 0px;
    }

        .modal .mBottom .mHiddenMessage {
            padding: 5px;
            background-color: #000000;
        }

    .modal .mBtn {
        font-size: 16px;
        font-weight: bold;
        border: 1px solid black;
        border-radius: 5px;
        background-color: #ffffff;
    }

        .modal .mBtn:hover {
            cursor: pointer;
            background-color: #defbff;
        }
